
.feet {
	fill: yellow;
}
.feet {
	stroke: black;
}

.beak {
	fill: yellow;
}
.beak:hover {
	fill: red;
}
.belly {
	fill : white;
}

.arms {
	fill : #2b2b31;
}

.body {
	fill : #3f4753; 
}
.body {
	filter : url("svg.html#BlurFilter");
}
.head {
	fill : #3f4753;
}
