.menu {
	float: left;
}
.menu a {
	text-decoration:none;
	color:black;
}
.menu ul {
	list-style-type: none;
}
.menu ul ul {
	display: none;
	position: absolute;
	left: 80px;
	top: -1px;
}
.menu li {
	position: relative;
	width : 100px;
	padding:10px;
	background-color:#e74c3c;
	border:solid 1px;
	color: black;
}
.menu :hover > ul {
	display: block;
}
.menu li:hover{
	background-color: #c0392b;
}
.more {
	background: url(right.png) no-repeat right;
}
li.more{
	color: #34495e;
	border-color: black;
}